
<h1>IN DEVELOPMENT</h1>
<h1>StaticPages#dev_portfolio</h1>
<p>Find me in app/views/static_pages/dev_portfolio.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="portfolio-image-space">
				<%= link_to image_tag("vertical_gardening_sc.jpg", alt: "Vertical Gardening School"), 'https://verticalgardeningschool.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>This is about a project</p>
			</div>
    </div>
    <div class="col-sm-4">
			<div class="portfolio-image-space">
				<%= link_to image_tag("escher_sc.png", alt: "VitStack home page"), 'https://mighty-beyond-43620.herokuapp.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>This is a personal project I am currently working on
					<%= link_to 'https://github.com/nbdewaele/zenpark', target: '_blank' %>
				</p>
			</div>
    </div>
    <div class="col-sm-4">
			<div class="portfolio-image-space">
				<%= link_to image_tag("vitstack_sc.png", alt: "VitStack home page"), 'https://zenpark.herokuapp.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>This was my final project at Wyncode.  Check out the repo at
					<%= link_to 'https://github.com/nbdewaele/zenpark', target: '_blank' %>
				</p>
			</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sapiente pariatur deleniti neque, quo error assumenda maiores ducimus nisi amet consequuntur deserunt, delectus itaque fuga ipsa ut tenetur! Quidem, est.
    </div>
  </div>
</div>
