<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="portfolio-image-space">
				<%= link_to image_tag("vertical_gardening_sc.jpg", alt: "Vertical Gardening School"), 'https://verticalgardeningschool.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>Vertical Gardening School is an online authority on DIY indoor gardening.  It is built with the GeneratePress theme on WordPress.  I did the styling as well as the integration of application functions.</p>
			</div>
    </div>

    <div class="col-sm-4">
			<div class="portfolio-image-space">
				<%= link_to image_tag("escher_sc.png", alt: "VitStack home page"), 'https://mighty-beyond-43620.herokuapp.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>Escher is the Airbnb for co-working spaces.  I did this Ruby on Rails app as final project at Wyncode Academy.  My roles included project management, and backend design.  After graduation, I did a redesign of the front page so that people looking at my work know I am an artist with an eye for UX.
				</p>
			</div>
    </div>

    <div class="col-sm-4">
			<div class="portfolio-image-space">
				<%= link_to image_tag("vitstack_sc.png", alt: "VitStack home page"), 'https://infinite-mountain-69399.herokuapp.com/', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>Vitstack is a Ruby on Rails app that I am currently working on.  It will find formulas containing combinations of vitamins and supplements the user is currently taking.  My aim is to help people save money, cut down on packaging waste, and help people to remember to take all of their pills.
				</p>
			</div>
    </div>
  </div>
</div>

<!-- LINE 2 -->
<div class="container">
  <div class="row">
    <div class="col-sm-4">
			<div class="portfolio-image-space-2">
				<%= link_to image_tag("capleo_sc.png", alt: "Capleo Music Application"), 'https://github.com/nbdewaele/music-app', target: '_blank' %>
      </div>
			<div class="about-project">
				<p>Capleo is a music application that makes it easy to build playlists. For this project, I selected the color scheme and did backend QA with minitest. The design is mobile friendly. Technology used includes Ruby on Rails, Bootstrap and the Spotify API.  It is no longer deployed but the repo still exists.
				</p>
			</div>
    </div>

    <div class="col-sm-4">
			<div class="portfolio-image-space-2">
				<%= link_to image_tag("the_wall_sc.png", alt: "Wireframe mockup of web application"), 'https://wiresketch.com/8ejnMiAh/intro', target: '_blank' %>
			</div>
			<div class="about-project">
				<p>The Wall is simple demonstration of my wireframing and user story mapping abilities as a product owner.  It is not an application in production. Click around!  the links work and the view has logged in/out dependancies.  I used WireFrame Sketcher and can't wait to use more vibrant tools.
				</p>
			</div>
    </div>

    <div class="col-sm-4">
			<div class="portfolio-image-space-2">
				<%= link_to image_tag("former_portfolio_sc.png", alt: "Nate DeWaele's former portfolio site"), 'https://nbdewaele.github.io/', target: '_blank' %>
			</div>
			<div class="about-project">
				<p>While I was at Wyncode Academy, the first thing they asked for me to deploy was a portfolio site.  This is my first one and it is still live.  The school is excellent for teaching code as well as setting us up to work as professional developers.  It'll be fun to look back at this site after I have made more things.
				</p>
			</div>
    </div>
  </div>
</div>
